.position-relative {
  position: relative;
}

.list-group {
  position: absolute;
  top: 100%;
  left: 0;
}

.list-group-item {
  cursor: pointer;
}

.list-group-item:hover {
  background-color: #f8f9fa;
}
